<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-2">
    <div
      (clickOutside)="dropMenu.classList.remove('show')"
      class="nav-item dropdown"
      clickOutside
    >
      <button
        (click)="toggleShow(dropMenu)"
        (dblclick)="clearChosen(true)"
        aria-expanded="false"
        class="btn btn-outline-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        id="navbarDropdown"
        role="button"
      >DPD
      </button>

      <ul
        #dropMenu
        aria-labelledby="navbarDropdown"
        class="dropdown-menu dropdown-menu-start"
        style="z-index: 9999"
      >
        <li>
          <div class="btn-group left-margin-sm" role="group">
            <button
              (click)="clearChosen(false)"
              class="btn btn-outline-success text-11"
              type="button"
            >
              <span>Обрати всі</span>
            </button>

            <button
              (click)="clearChosen(true)"
              class="btn btn-outline-danger text-11"
              type="button"
            >
              <span>Очистити</span>
            </button>

          </div>

          <div class="btn-group left-margin-sm top-margin-sm" role="group">
            <button
              (click)="saveBuckets()"
              class="btn btn-outline-info text-11"
              type="button"
            >
              <span>Зберегти бакети</span>
            </button>

            <button
              (click)="deleteChosen()"
              class="btn btn-outline-danger text-11"
              type="button"
            >
              <span>Видалити</span>
            </button>
          </div>

          <div class="col-auto left-margin-sm top-margin-sm"
               style="overflow-y: scroll; max-height: 17rem; min-width: 300px">
            <div *ngFor="let bucket of defaultBuckets" class="row-cols-auto">
              <a
                (click)="selectBucket(bucket)"
                class="nav-link pointer"
              >
                <input
                  [checked]="isSelected(bucket)"
                  class="form-check-input big-check"
                  type="checkbox"
                >
                {{ bucket | bucketPipe }}
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-6 top-margin-sm">
    <div class="input-group mb-3">
      <input
        #newBucket
        (dblclick)="newBucket.value=''"
        (keyup.enter)="addBucket(newBucket.validity, newBucket.value) ? newBucket.value='' : null"
        [class.is-invalid]="!newBucket.validity.valid"
        [class.is-valid]="newBucket.validity.valid"
        class="form-control"
        id="newDPDBucket"
        ngbTooltip="числа не мають перекриватися (якщо 0-10, то наступний має починатися з 11)"
        pattern="\d+-\d+|>\d+|<\d+"
        placeholder="##-## або >##"
        required
        type="text"
      />
      <div class="input-group-append">
        <button
          (click)="addBucket(newBucket.validity, newBucket.value) ? newBucket.value='' : null"
          class="btn btn-outline-secondary"
          type="button"
        >Додати бакет (DPD)
        </button>
      </div>
      <!--      <div class="invalid-feedback">-->
      <!--        числа не мають перекриватися (якщо 0-10, то нступний має починатися з 11)-->
      <!--      </div>-->
    </div>
  </div>

</div>

