<div *ngIf="errors.length > 0" class="alert alert-danger">
  <p>
    Відсутні прив'язки платежів з виписок до платежів з БД для {{ errors.length | number:'1.0-0' }} записів
  </p>
  <p *ngIf="checkedErrors.length > 0" class="alert alert-light">
    З них перевірено {{ checkedErrors.length | number:'1.0-0' }} записів

    <i
      (click)="clearCheckedErrors()"
      [ngbTooltip]="'оновити'"
      class="bi bi-arrow-clockwise pointer left-margin-sm"
    ></i>
  </p>

  <button
    (click)="loadEmptyPaymentIdsIntoTable(100)"
    *ngIf="errors.length >= 100"
    class="btn btn-outline-danger left-margin-sm"
  >Завантажити {{ checkedErrors.length > 0 ? 'наступних' : 'перших' }} 100
  </button>

  <button
    (click)="loadEmptyPaymentIdsIntoTable(1000)"
    *ngIf="errors.length >= 1000"
    class="btn btn-outline-danger left-margin-sm"
  >Завантажити {{ checkedErrors.length > 0 ? 'наступних' : 'перших' }} 1000
  </button>

  <button
    (click)="loadEmptyPaymentIdsIntoTable()"
    [disabled]="errors.length > 5000"
    class="btn btn-outline-danger left-margin-sm"
  >Завантажити всі {{ errors.length | number:'1.0-0' }}
  </button>

</div>

