<div class="row mb-0 mt-3">
  <div *ngIf="elementService.riskScoring === 1 || elementService.riskScoring === 2 || elementService.riskScoring === 3"
       class="col-md-12 text-center border p-2 rounded text-success">
    <label class="status-label custom-bg-a2e8a3">Скоринг Risk Tools клієнта - {{ elementService.riskScoring }}</label>
  </div>
  <div *ngIf="elementService.riskScoring < 1 && elementService.riskScoring > 3"
       class="col-md-12 text-center border p-2 rounded text-danger">
    <label class="status-label custom-bg-fcbdbd">Скоринг Risk Tools клієнта - {{ elementService.riskScoring }}</label>
  </div>
</div>
