<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 mt-3">

  <div class="col">
    <lr-ep-detailed-info-card [contractId]="contractId"></lr-ep-detailed-info-card>
  </div>

  <div class="col">
    <lr-ep-detailed-info-card [contractId]="contractId" [isRelated]="true"></lr-ep-detailed-info-card>
  </div>

  <div class="col">
    <lr-income-stages-card [contractId]="contractId"></lr-income-stages-card>
  </div>

  <div class="col">
    <lr-arrest-stages-card [contractId]="contractId"></lr-arrest-stages-card>
  </div>

  <div class="col">
    <lr-mvs-stages-card [contractId]="contractId"></lr-mvs-stages-card>
  </div>

  <div class="col">
    <lr-inventory-card [contractId]="contractId"></lr-inventory-card>
  </div>

  <div class="col">
    <lr-others-ep-card [contractId]="contractId"></lr-others-ep-card>
  </div>

</div>


