<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 mt-3">
  <div *ngFor="let prom of writingOffData" class="col">

    <div [class.success]="prom.confirmed" class="card">
      <h6 (click)="cardBody.hidden=!cardBody.hidden" class="card-header h6 pointer">
        {{ prom.ContractId }}, {{ prom.ClientName }}
        <ng-container *ngIf="prom.ClientINN">({{ prom.ClientINN }})</ng-container>

        <i [class.bi-chevron-down]="cardBody.hidden"
           [class.bi-chevron-up]="!cardBody.hidden"
           class="bi float-end"
        ></i>
      </h6>

      <div #cardBody class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Шаблон:</strong>
            <span class="float-end">{{ prom.TemplateType }}</span>
          </li>

          <li *ngIf="prom.TemplateType !== prom.OriginalTemplateType" class="list-group-item">
            <strong>
              <i class="bi bi-exclamation-triangle-fill me-2 text-warning"></i>
              Оригінальний шаблон:
            </strong>
            <span class="float-end">{{ prom.OriginalTemplateType }}</span>
          </li>

          <li class="list-group-item">
            <strong>Військові документи:</strong>
            <span class="float-end">
              <app-default-dropdown
                (valueSelected)="onFieldChange(prom, 'MilitaryDocType', $event === 'відсутні' ? '' : $event)"
                                    [cycled]="true"
                                    [disabled]="prom.confirmed || false"
                [placement]="'bottom-end'"
                [selectedValue]="prom.MilitaryDocType || ''"
                [showTooltip]="false"
                [valueList]="militaryTypes"
              ></app-default-dropdown>
            </span>
          </li>

          <li class="list-group-item">
            <strong>Стать:</strong>
            <span class="float-end">
              <app-default-dropdown (valueSelected)="onFieldChange(prom, 'ClientSex', $event === 'Ж' ? 'W' : 'M')"
                                    [cycled]="true"
                                    [disabled]="prom.confirmed || false"
                                    [placement]="'bottom-end'"
                                    [selectedValue]="['W', 'Ж'].includes(prom.ClientSex || '') ? 'Ж' : 'Ч'"
                                    [showTooltip]="false"
                                    [valueList]="['Ч', 'Ж']"
              ></app-default-dropdown>
            </span>
          </li>

          <li class="list-group-item">
            <strong class="mb-2 d-block">Первинний кредитор:</strong>
            <app-input-in-group (valueChange)="onFieldChange(prom, 'FirstCreditor', $event)"
                                [clearOnDblClick]="false"
                                [disabled]="prom.confirmed || false"
                                [fillColor]="'transparent'"
                                [placeholder]="'Первинний кредитор'"
                                [typeOfInput]="'text'"
                                [value]="prom.FirstCreditor || ''">
            </app-input-in-group>
          </li>

          <li class="list-group-item">
            <strong class="mb-2 d-block">Адреса реєстрації клієнта:</strong>
            <app-input-in-group (valueChange)="onFieldChange(prom, 'ClientAddress', $event)"
                                [clearOnDblClick]="false"
                                [disabled]="prom.confirmed || false"
                                [fillColor]="'transparent'"
                                [placeholder]="'Адреса клієнта'"
                                [typeOfInput]="'text'"
                                [value]="prom.ClientAddress || ''">
            </app-input-in-group>
          </li>

          <li class="list-group-item">
            <strong class="mb-2 d-block">ПІБ клієнта:</strong>
            <app-input-in-group (valueChange)="onFieldChange(prom, 'ClientName', $event)"
                                [clearOnDblClick]="false"
                                [disabled]="prom.confirmed || false"
                                [fillColor]="'transparent'"
                                [placeholder]="'Ім\'я клієнта'"
                                [typeOfInput]="'text'"
                                [value]="prom.ClientName">
            </app-input-in-group>
          </li>

          <li class="list-group-item">
            <strong class="mb-2 d-block">ПІБ клієнта в орудному відмінку:</strong>
            <app-input-in-group (valueChange)="onFieldChange(prom, 'ClientNameInCase', $event)"
                                [clearOnDblClick]="false"
                                [disabled]="prom.confirmed || false"
                                [fillColor]="'transparent'"
                                [placeholder]="'Ім\'я клієнта в орудному відмінку'"
                                [typeOfInput]="'text'"
                                [value]="prom.ClientNameInCase">
            </app-input-in-group>
          </li>

          <li (click)="showOtherFields.set(!showOtherFields())" class="list-group-item pointer bg-light text-secondary">
            <strong>{{ showOtherFields() ? 'Сховати інші поля' : 'Показати інші поля' }}</strong>
            <i [class.bi-chevron-down]="showOtherFields()"
               [class.bi-chevron-up]="!showOtherFields()"
               class="bi float-end"
            ></i>
          </li>

          <ng-container *ngIf="showOtherFields()">

            <li class="list-group-item">
              <strong>Договір відступлення:</strong>
              <span class="float-end"><strong>З</strong> {{ prom.Seller }} <strong>на</strong> {{ prom.Buyer }}</span>
            </li>

            <li class="list-group-item">
              <strong>Договір відступлення (номер):</strong>
              <span class="float-end">{{ prom.AssignmentDocNum }}</span>
            </li>

            <li class="list-group-item">
              <strong>Договір відступлення (дата):</strong>
              <span class="float-end">{{ prom.AssignmentDocDate | formatAnyValue }}</span>
            </li>

            <li class="list-group-item">
              <strong>Дата кредитного договору:</strong>
              <span class="float-end">{{ prom.ContractDate | formatAnyValue }}</span>
            </li>

            <li class="list-group-item">
              <strong>Номер кредитного договору:</strong>
              <span class="float-end">{{ prom.ContractNum }}</span>
            </li>

            <li class="list-group-item">
              <strong>Сума боргу:</strong>
              <span class="float-end">{{ prom.SumToClose | currency:'UAH':'symbol':'1.0-2' }}</span>
            </li>

            <li class="list-group-item">
              <strong>Сума боргу (тіло):</strong>
              <span class="float-end">{{ prom.Body | currency:'UAH':'symbol':'1.0-2' }}</span>
            </li>

            <li class="list-group-item">
              <strong>Сума боргу (відсотки):</strong>
              <span class="float-end">{{ prom.Percent | currency:'UAH':'symbol':'1.0-2' }}</span>
            </li>

            <li class="list-group-item">
              <strong>Сума боргу (комісія):</strong>
              <span class="float-end">{{ prom.Fine | currency:'UAH':'symbol':'1.0-2' }}</span>
            </li>

            <li class="list-group-item">
              <strong>Сума боргу (штрафи/пеня):</strong>
              <span class="float-end">{{ prom.Commission | currency:'UAH':'symbol':'1.0-2' }}</span>
            </li>

            <li class="list-group-item">
              <strong>Дата подачі:</strong>
              <span class="float-end">{{ prom.EntryDate | formatAnyValue }}</span>
            </li>

            <li class="list-group-item">
              <strong>Гранична дата сплати:</strong>
              <span class="float-end">{{ prom.PaymentDateLimit | formatAnyValue }}</span>
            </li>

            <li class="list-group-item">
              <strong>Сума до сплати:</strong>
              <span class="float-end">{{ prom.SumToPay | currency:'UAH':'symbol':'1.0-2' }}</span>
            </li>

            <li class="list-group-item">
              <strong>Сума до сплати (тіло):</strong>
              <span class="float-end">{{ prom.BodyToPay | currency:'UAH':'symbol':'1.0-2' }}</span>
            </li>

            <li class="list-group-item">
              <strong>Сума до сплати (відсотки):</strong>
              <span class="float-end">{{ prom.PercentToPay | currency:'UAH':'symbol':'1.0-2' }}</span>
            </li>

            <li class="list-group-item">
              <strong>Сума до сплати (комісія):</strong>
              <span class="float-end">{{ prom.CommissionToPay | currency:'UAH':'symbol':'1.0-2' }}</span>
            </li>

            <li class="list-group-item">
              <strong>Сума до сплати (штрафи/пеня):</strong>
              <span class="float-end">{{ prom.FineToPay | currency:'UAH':'symbol':'1.0-2' }}</span>
            </li>

            <li class="list-group-item">
              <strong>Сума до списання:</strong>
              <span class="float-end">{{ prom.DiscountSum | currency:'UAH':'symbol':'1.0-2' }}</span>
            </li>

            <li *ngIf="prom.RestructuringMonths" class="list-group-item">
              <strong>Реструктуризація (місяців):</strong>
              <span class="float-end">{{ prom.RestructuringMonths }}</span>
            </li>

            <li *ngIf="prom.PaymentPerMonth" class="list-group-item">
              <strong>Місячна сума платежу:</strong>
              <span class="float-end">{{ prom.PaymentPerMonth | currency:'UAH':'symbol':'1.0-2' }}</span>
            </li>

          </ng-container>

        </ul>

        <div class="card-footer text-end">
          <button (click)="confirmTemplate.emit(prom.PromotionId); cardBody.hidden=true"
                  *ngIf="!prom.confirmed" class="btn btn-outline-success btn-sm me-2">
            <i class="bi bi-check-circle me-2"></i>
            <span>Підтвердити</span>
          </button>

          <button (click)="removeTemplate.emit(prom.PromotionId)" class="btn btn-outline-danger btn-sm">
            <i class="bi bi-trash me-2"></i>
            <span>Видалити</span>
          </button>
        </div>
      </div>

    </div>

  </div>
</div>
