<div class="row alert alert-info" style="margin: auto">
  <div class="row">
    <div [class.chosen-condition-top]="chosenConditions.chosen==='DC'" class="col-6">
      <h4 class="h4">Дисконт</h4>

      <div>
        <label class="form-check-label" for="writeOffChoseIndividual" style="width: 100%">
          <div class="input-group mb-2">
            <span *ngIf="isBodyPayAvailable()" class="input-group-text">
              <input [(ngModel)]="chosenConditions.dcType" class="form-check-input" id="writeOffChoseIndividual"
                     type="radio"
                     value="writeOff">
            </span>
            <span class="input-group-text">Сума до сплати: </span>
            <input
              #WriteOff
              (blur)="updateSumToPay()"
              (dblclick)="WriteOff.value=''"
              (keyup.enter)="WriteOff.blur()"
              [(ngModel)]="sumToPay"
              [class.is-invalid]="!WriteOff.validity.valid || chosenConditions.writeOffPercent > 100"
              [class.is-valid]="WriteOff.validity.valid && chosenConditions.writeOffPercent <= 100"
              class="form-control"
              id="MaxWriteOffInput"
              pattern="(?:[\d\s]+[.,]?\d{0,2})?"
              required
              type="text"
            />
            <span class="input-group-text">{{scoreInfoData.FactCurrency}}</span>
          </div>
        </label>

        <p>Списання по ДС:
          <strong>
            {{ chosenConditions.writeOffPercent * chosenConditions.debt / 100 | number:'1.0-2' }} {{scoreInfoData.FactCurrency}}
          </strong>
        </p>
        <p>Відсоток списання по ДС: <strong>{{ chosenConditions.writeOffPercent | number:'1.0-2' }} %</strong></p>
        <input
          (change)="changeWriteOffPercent()"
          [(ngModel)]="chosenConditions.writeOffPercent"
          [max]="100"
          class="form-range white-range"
          min="1"
          name="dcWriteOffPercentInput"
          step="1"
          type="range"
        >

        <p *ngIf="!isBodyPayAvailable()" class="disabled-table">Оплата тіла по ДС: <strong>не доступна</strong></p>

        <!--            платіж приватному виконавцю              -->
        <app-switch-checkbox
          [id]="'privateAgentPaymentSwitch'"
          [value]="privateAgentPayment > 0"
          (valueChange)="$event ? setPrivateAgentPayment(setPASumInd) : privateAgentPayment = 0"
          class="mt-3"
        >Задати платіж приватному виконавцю
        </app-switch-checkbox>
      </div>

      <div *ngIf="isBodyPayAvailable()">
        <label class="form-check-label" for="bodyPayChoseIndividual" style="width: 100%">
          <div class="input-group mb-2">
            <span *ngIf="isBodyPayAvailable()" class="input-group-text">
              <input [(ngModel)]="chosenConditions.dcType" class="form-check-input" id="bodyPayChoseIndividual"
                     type="radio"
                     value="bodyPay">
            </span>
            <span class="input-group-text">Оплата тіла (лише МФО): </span>
            <input
              [value]="chosenConditions.bodyPayMonths * chosenConditions.body | number:'1.0-2'"
              class="form-control"
              disabled
              type="text"
            >
            <span class="input-group-text">{{scoreInfoData.FactCurrency}}</span>
          </div>
        </label>

        <p>
          Кількість тіл для оплати: <strong>{{ chosenConditions.bodyPayMonths }}</strong>
        </p>
        <input
          [(ngModel)]="chosenConditions.bodyPayMonths"
          [max]="calculateMaxBodyPayMonths()"
          class="form-range white-range"
          min="1"
          name="rcMonthsInput"
          step="0.5"
          type="range"
        >
      </div>
    </div>

    <!--    Реструктуризація інфо  -->
    <div [class.chosen-condition-top]="chosenConditions.chosen==='RS'" class="col-6">
      <h4 class="h4">Реструктуризація</h4>
      <app-switch-checkbox
        [(value)]="useSumToPay"
        [id]="'useDCSumSwitch'"
      >
        <strong>Використовувати суму до сплати з ДС</strong>
      </app-switch-checkbox>

      <p>Кількість місяців для розбивки: <strong>{{ chosenConditions.rsMonths }}</strong></p>
      <input
        [(ngModel)]="chosenConditions.rsMonths"
        [max]="60"
        class="form-range white-range"
        min="1"
        name="rcMonthsInput"
        step="1"
        type="range"
      >

    </div>
  </div>

  <div class="row">

    <!--        кнопка выбора дисконта  -->
    <div [class.chosen-condition-bottom]="chosenConditions.chosen==='DC'" class="col-6">

      <p class="discounts-info">
        Борг після списання:

        <strong
          [class.red-text]="isPaymentValid()"
        >
          {{ calculateSumToPay() - privateAgentPayment | number:'1.0-2' }} {{scoreInfoData.FactCurrency}}
        </strong>
        <ng-container *ngIf="privateAgentPayment > 0">
          <span (click)="setPrivateAgentPayment(setPASumInd)" [ngbTooltip]="'Змінити суму'" class="pointer">
            + оплата ПВ <strong>{{ privateAgentPayment | number:'1.0-2' }} {{scoreInfoData.FactCurrency}}</strong>
          </span><br>
          (всього - <strong>{{ calculateSumToPay() | number:'1.0-2' }} {{scoreInfoData.FactCurrency}}</strong>)
        </ng-container>
      </p>
      <button
        (click)="choseCondition('DC')"
        *ngIf="chosenConditions.chosen !== 'DC'"
        class="btn btn-primary mb-2"
      >Обрати
      </button>
      <button
        (click)="cancelChose()"
        *ngIf="chosenConditions.chosen === 'DC'"
        class="btn btn-danger mb-2"
      ><i class="bi bi-arrow-return-left"></i> Відмінити
      </button>
    </div>

    <!--        кнопка выбора реструктуризации  -->
    <div [class.chosen-condition-bottom]="chosenConditions.chosen==='RS'" class="col-6">
      <p class="discounts-info">
        Місячний платіж:
        <strong>{{ rsPayment | number:'1.0-2' }} {{scoreInfoData.FactCurrency}}</strong></p>
      <button
        (click)="choseCondition('RS')"
        *ngIf="chosenConditions.chosen !== 'RS'"
        class="btn btn-primary mb-2"
      >Обрати
      </button>
      <button
        (click)="cancelChose()"
        *ngIf="chosenConditions.chosen === 'RS'"
        class="btn btn-danger mb-2"
      ><i class="bi bi-arrow-return-left"></i> Відмінити
      </button>
    </div>

  </div>

</div>


<ng-template #setPASumInd let-modalInd>
  <div class="modal-header">
    <h5 class="modal-title">Введіть суму платежа приватному виконавцю</h5>
    <button (click)="modalInd.dismiss()" aria-label="Close" class="btn-close" type="button"></button>
  </div>
  <div class="modal-body">
    <app-sum-input
      (keyup.enter)="modalInd.close()"
      [(sum)]="privateAgentPaymentInModal"
      [maxSum]="calculateSumToPay() || 0"
    ></app-sum-input>
  </div>
  <div class="modal-footer">
    <button (click)="modalInd.close()" class="btn btn-outline-success" type="button">Підтвердити</button>
  </div>
</ng-template>

