<h4 class="h4">Правила користування АСВП-ботом</h4>

<div class="card card-body mt-3">
  <div><p style="text-align: center;"><strong>Можливі формати для обробки (EXCEL):</strong></p>

    <p style="text-align: left;"><strong>Пошук по АСВП:</strong></p>
    <ul style="margin-top: -10px;">
      <li>Необхідні колонки:</li>
      <ul>
        <li>'Номер ВП'</li>
      </ul>
    </ul>

    <hr />

    <p style="text-align: left;"><strong>Пошук по ПІБ:</strong></p>
    <ul style="margin-top: -10px;">
      <li>Необхідні колонки:</li>
      <ul>
        <li>'INN' - ІПН,</li>
        <li>'FIO' - ПІБ,</li>
        <li>'BirthdayDate' - дата народження</li>
      </ul>
      <br>
      <li>Формат 'BirthdayDate': 'Текст' в форматі (%dd-%mm-%YYYY) (наприклад: '17-08-2020') або 'Краткий формат даты'
      </li>
      <li>BirthdayDate можна вирахувати з ІПН за допомогою формули '=ЛЕВСИМВ(#INN;5)+1'</li>
    </ul>

    <hr />

    <p style="text-align: left;"><strong>Пошук по ІПН (Єдиний реєстр боржників + АСВП):</strong></p>
    <ul style="margin-top: -10px;">
      <li>Необхідні колонки:</li>
      <ul>
        <li>'INN' - ІПН</li>
      </ul>
    </ul>

    <p style="text-align: left;"><strong>Пошук по ЄДРПОУ:</strong></p>
    <ul style="margin-top: -10px;">
      <li>Необхідні колонки (має бути щонайменше одна з них):</li>
      <ul>
        <li>'ЄДРПОУ' - ЄДРПОУ,</li>
        <li>'Назва' - Назва компанії,</li>
      </ul>
    </ul>

    <hr />

    <p style="text-align: left;"><strong>Пошук в "Доступ сторін до виконавчого провадження":</strong></p>
    <ul style="margin-top: -10px;">
      <li>Необхідні колонки:</li>
      <ul>
        <li>'Номер ВП'</li>
        <li>'Ідентифікатор доступу'</li>
      </ul>
    </ul>

    <hr />

    <p style="text-align: left;"><strong>Завантаження файлів з АСВП</strong></p>
    <ul style="margin-top: -10px;">
      <li>Необхідні колонки:</li>
      <ul>
        <li>'Номер ВП'</li>
        <li>'Ідентифікатор доступу'</li>
        <li>'Назва постанови' (для завантаження файлів за назвою постанови)</li>
        <li>'№ з/п' або 'ID' (для завантаження файлів за ID з АСВП)</li>
      </ul>

      <li>Додаткові колонки:</li>
      <ul>
        <li>'Шлях' (шлях для папки, в яку необхідно зберегти файли; якщо шлях однаковий для всіх файлів - можно вказати
          через інтерфейс при запуску)
        </li>
        <li>'Назва файлу' (якщо не вказано - назва файлу відповідатиме назві постанови)</li>
      </ul>
    </ul>

  </div>
</div>

